/* styles.css */
/* Apply styles to the table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

/* Apply styles to table cells */
th, td {
    border: 1px solid #c8e6c9;
    padding: 8px;
    text-align: left;
    color: #6592af;
}

/* Apply alternate background color to table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Apply styles to table header cells */
th {
    background-color: #65af72;
}

/* Add some padding, center the text, set a background color, and change the font size */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c; /* Teal background */
    color: white;
    font-size: 30px;
}

/* For a responsive header that changes design based on screen size */
@media screen and (max-width: 500px) {
    .header {
        padding: 20px;
        text-align: left;
    }
}
